.ftvest{
    float: left;
    display: block;
    width: 40%;
    height: 40%;
    margin-right: 10px;
}
article{
    width: 500px;
    height: 500px;
    display: block;
    text-align: center;
    margin:  0 auto;
    font-size: 20px;
}
section{
    width: 50%;
    height: 50%;
    margin: 0 auto;
}
.artvest{
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}